/*This is the css file for the bottom four links (instructions, about us, high score)*/
a:link {
    text-decoration: none;
  }


a:visited {
    text-decoration: none;
    color: black;
}
/*css for about us*/
body{
  font-family: 'Open Sans Condensed', sans-serif;
}

/*.group_1{
  width: 200px;
  -webkit-transform: rotate(90deg);
}*/
.group {
  background-image: url("../images/group_2.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  word-wrap: break-word;
  text-align: center;
  }

.teamname{
    padding: 50px;
    color: white;
    font-size: 50px;
  }

.group_2{
  height: 100%;

}

.bios{
  display: flex;
  justify-content: space-between;
}

.people{
  width:33%;
  padding:1%;
  margin: 1%;
  margin-bottom: 5%;
  text-align: center;
  border-radius: 5%;

}

.image{
  width: 300px;
}

.name{
  font-size: 25px;
}

.bio{
  font-size: 20px;
}



/*instruct html css*/
.instructions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 250px;
  margin-right: 250px;
  margin-top: 150px;
  font-size: 25px;
}

  ul{
    list-style: none;
  }

  .mainpage{
    align-self: center;
  }

  .mainpage_2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }