/*main html css*/
a:link {
    text-decoration: none;
  }


a:visited {
    text-decoration: none;
    color: black;
}

h2 {
  text-align: center;
  margin: auto;
}


body{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-wrap: wrap;

}

.mainpage{
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}

.maintitle{
  text-align: center;
  margin-top: 200px;
  font-size: 60px;
  min-width: 100%;

}


.playbutton {

  min-width: 100%;
  display: inline-block;
  height: 50%;
  font-size: 20px;

}

.footer{
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}

.footerimages{
  margin-top: 300px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-content: flex-end;
  flex-wrap: wrap;
  min-width: 100%;

}

.footerwords{
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-content: flex-end;
  min-width: 100%;

}

  /*game.html page css*/
  .gameCenter{
    margin: auto;
  }

  .score {
    margin: auto;
  }

  h2{
    align-items: baseline;
  }

  /*end.html page css*/
