<<<<<<< HEAD

/*main html css*/



body{

  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-wrap: wrap;
}


a:link {
    text-decoration: none;
  }


a:visited {
    text-decoration: none;
    color: black;
}


.mainpage{
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}

.maintitle{
  text-align: center;
  margin-top: 200px;
  font-size: 60px;
  min-width: 100%;

}


.playbutton {

  min-width: 100%;
  display: inline-block;
  height: 50%;
  font-size: 20px;
=======
/*main html css*/
a:link {
    text-decoration: none;
  }


a:visited {
    text-decoration: none;
    color: black;
}

h2 {
  text-align: center;
  margin: auto;
}


body{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-wrap: wrap;
>>>>>>> 9660b16fd1009a857b6d22700010838846af8bcd

}

.mainpage{
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}

.maintitle{
  text-align: center;
  margin-top: 200px;
  font-size: 60px;
  min-width: 100%;

<<<<<<< HEAD

=======
>>>>>>> 9660b16fd1009a857b6d22700010838846af8bcd
}


.playbutton {

  min-width: 100%;
  display: inline-block;
  height: 50%;
  font-size: 20px;

}



.footer{
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}

<<<<<<< HEAD

=======
>>>>>>> 9660b16fd1009a857b6d22700010838846af8bcd
.footerimages{
  margin-top: 300px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-content: flex-end;
  flex-wrap: wrap;
  min-width: 100%;

<<<<<<< HEAD
  /*position: relative;*/

=======
>>>>>>> 9660b16fd1009a857b6d22700010838846af8bcd
}

.footerwords{
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-content: flex-end;
  min-width: 100%;
<<<<<<< HEAD
=======

>>>>>>> 9660b16fd1009a857b6d22700010838846af8bcd
}

  /*game.html page css*/
  .gameCenter{
    margin: auto;
  }
<<<<<<< HEAD

=======
>>>>>>> 9660b16fd1009a857b6d22700010838846af8bcd

  .score {
    margin: auto;
  }

<<<<<<< HEAD
  /*end.html page css*/
 .endpage{
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   align-items: center;


 }

  .gameOverMessage{
    text-align: center;
    width: 100%;
  }

  .bottomMessages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

  }



=======
  h2{
    align-items: baseline;
  }

>>>>>>> 9660b16fd1009a857b6d22700010838846af8bcd
  /*end.html page css*/
