<!DOCTYPE html>
<html>
	<head>
		<title>WATERISWET</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/wateriswet.css">
		<!-- // <script src = '/js/wateriswet.js' type = 'text/javascript'></script> -->
	</head>

	<body>
    <div class = "endpage">

      <div class ="gameOverMessage">
        game is over
      </div>

      <div class="bottomMessages">

        <div class= "mainPageMessage">
          <a href = "../">
          main page
          </a>
        </div>

        <div class = "playAgainMessage">
          <a href = "../game">
          play again
          </a>
        </div>

      </div>

    </div>


  </body>
</html>
