<!DOCTYPE html>
<html>
	<head>
	<title>WATERISWET</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/wateriswet.css">
		<script src = '/js/wateriswet.js' type = 'text/javascript'></script>

	</head>

	<body>
			<div class = 'gamePage'>
        <div class = 'gameHeader'>
					<a href='/'>Attack on Dots</a>
				</div>
					<div class='score'>
						Steps:<span id='scorenum'> 20 </span>
					</div>
					<div class = "collected">
						Collected Supplies: <span id = "collectednum"> 0 </span></div>
        	<div class = "gameCenter">
            <canvas id='canvas' width='500' height='500'></canvas>
					</div>
				</div>
	</body>
</html>
