<!DOCTYPE html>
<html>
	<head>
		<title>WATERISWET</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/wateriswet.css">
		<script src = '/js/wateriswet.js' type = 'text/javascript'></script>
	</head>

	<body>
      <h2>Attack on Dots</h2>
        <div class = "gameCenter">
          <div id='bloo'></div>
          <div id="grid" class="gridContainer"></div>
        </div>
			<div id="supplies"></div>

	</body>
</html>
