<!DOCTYPE html>
<html>
	<head>
		<title>WATERISWET</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
		<script src = '/js/wateriswet.js' type = 'text/javascript'></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,300' rel='stylesheet' type='text/css'>
	</head>

	<body>

		<h1>HIGH SCORES</h1>
		{%for player in players%}
		<li>{{player.collectednum}} {{player.name}} {{player.date_created}}</li>
		{% endfor %}

		<div class = 'mainpage_2'>
			<a href='/'>mainpage</a>
		</div>
	</body>
</html>