<!DOCTYPE html>
<html>
	<head>
		<title>WATERISWET</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/wateriswet.css">
	  <!-- // <script src = '/js/wateriswet.js' type = 'text/javascript'></script> -->
	  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>

	<body>

			<h1>Attack on Dots</h1>

					<div class= "game">

							<a href = "/game" >
								 GAME
							</a>
					</div>

			<div class = "footer">
				<div class= "instuctions">
					<img src ="https://wiki.guildwars2.com/images/8/8c/Blue_Dot.png">
					<a href = "../resources/instruct.html" >
					Instuctions!
					</a>
				</div>
				<div class= "highscores">
					<img src = "images/yellow_supplies.jpg">
					<a href = "../resources/highscore.html" >
					Highscores!
					</a>
				</div>
				<div class= "aboutus">
					<img src = 'images/red_triangle.png'
					<a href = "../resources/aboutus.html" >
					About us!
					</a>
				</div>

			</div>


	</body>
</html>
