<!DOCTYPE html>
<html>
	<head>
		<title>WATERISWET</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<link rel="stylesheet" type="text/<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>css" href="/stylesheets/wateriswet.css">
		<script src = '/js/wateriswet.js' type = 'text/javascript'></script>
		<script src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<script src='https://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="gridLayout" class="gridLayout">

		<div id="gridHeader">
			<h2>Attack on Dots</h2>
			Grid Size:
			<input id="rows" type="number" min="1" max="50" value="10" width="40" size="3" onChange="GRASP.start();">
			x
			<input id="cols" type="number" min="1" max="50" value="10" width="40" size="3" onChange="GRASP.start();">
		</div>
		<div id="grid" class="gridContainer"></div>
		</div>
		<div class= "instuctions">
			<a href = "../resources/instruct.html" >
			Instuctions!
			</a>
		</div>
		<div class= "highscores">
			<a href = "../resources/highscore.html" >
			Highscores!
			</a>
		</div>
		<div class= "aboutus">
			<a href = "../resources/aboutus.html" >
			About us!
			</a>
		</div>
		<div class= "thanks">
			<a href = "../resources/thanks.html" >
			Thanks!
			</a>
		</div>
	</div>

	</body>
</html>
